ion-icon {
    color: #F5F5F5;
    --ionicon-stroke-width: 80px;
  }

.green{
  background-color: #006400;
}
.yellow{
  background-color: #FFFF00;
}
.orange{
  background-color: #FFA500;
}
.red{
  background-color: #FF0000;
}

.purple{
  background-color: #800080;
}
